html{
    scroll-behavior: smooth;

}


body{
    width: 100%;
    height: 200vh;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

header{
     background-image: linear-gradient(to bottom, rgba(93, 93, 93, 0.123),rgba(90, 90, 90, 0.048)),
    url(https://eskipaper.com/images/wallpaper-canada-8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 40%;
    text-align: center;
    color: rgb(251, 251, 251);
    font-style: italic;
}


header img{
    position: relative;
    height: 50%; 
    margin-top: 10%;
    border-radius: 50%;
   

}

header h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 10px;
    
}

header span, h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 500;
}


nav{ 
    position: fixed; 
    margin:0 20%;
    width: 60%;
    text-align: center;
    z-index: 1;

}

.navigation{
    display:inline-flex;
    width:100%;
    justify-content: center;
    background-color: #303030ad;
    border-radius: 45px;
    
}

.navigation a{
    display: block;
    width: 10%;
    padding: 10px 0;
    margin: 0 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.navigation #home{
    font-size: 30px;
}

.navigation a:hover{
    position: relative;
     top: -5px;
}


section{
    height: 30%;
    width: 100%;
    background-color: #ffffff;
    padding:40px 40px;
    box-sizing: border-box;
}

/* //////////// About me section //////////// */

#aboutme{
    display:flex;
    padding-top: 80px;
}

#aboutme .box{
    width:50% ;
}

#aboutme img{
    width: 88%;
    height: auto;
    border-radius: 10%;
}

#aboutme h3{
    display: block;
   font-size: 42px;
   width: 250px;
   margin-left: 250px;
   
}

#aboutme p{
    top: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 80%;
    height: 60%;
    padding: 25px;
    font-size: 25px;
    line-height: 30px;

}

/* ///////// Skills Section ///////// */

#skills{
    width: 100%;
    background-color: #f1f5f6;
    text-align: center;
    justify-content: center;
}

#skills h3{
    font-size: 50px;
    font-style: italic;
}

#skills i{
    font-size: 120px;
    padding:30px;
}

.fa-html5{
    color: rgb(212, 45, 45);
}

.fa-css3-alt{
    color: rgb(41, 133, 238);
}

.fa-js{
    color: rgb(236, 236, 3);
}

.fa-node{
    color: #353232;
}

.fa-react{
    color: rgb(37, 206, 228);
}

/* //////  Experience Section ////// */

#experience{
    background-color: #fff;
}

#experience #box{
    height: 90%;
    width: 40%;
    text-align: center;
    padding-top: 2%;
    
    
}
#experience img{
    width: 750px;
    float: right;
    position: relative;
    right: 100px;
    border-radius: 35px;
}

#experience h3{
    font-size: 52px;
    letter-spacing: 3px;
    word-spacing: 10px;

}

#experience ul{
    font-size: 25px;
    line-height: 55px;
    list-style-type: none;

}

#experience h4{
    position: relative;
    left: -20px;
    font-size: 25px;

}

#experience a{
    position: relative;
    left: 130px;
    top: -80px;
    font-size: 60px;
    
}

#experience i{
    color: #303030;
}

/* //////// Hobbies section ////////// */

#hobbies{ 
    display: flex;
    width: 100%;
    padding: 80px 0px;
    justify-content: space-evenly;
     text-align: center;
    background-color: #f1f5f6;
}

#hobbies h3{
    display: block;
    position: absolute;
    top: 258%;
    font-size: 38px;
}

#hobbies figure img{
    height: 490px;
    border-radius: 15px;
    transition:all 0.5s ease-in-out;
}

#hobbies figure img:hover{
     transform: scale(1.1);
}


#hobbies figcaption{
    position: relative;
    top: -60px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#hobbies #ski{
    color: rgb(0, 0, 0);
}

footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #303030;
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 160px;
    justify-content: center;
    padding-bottom: 30px;
}

footer i{
    font-size: 35px;
    margin-left: 20px;
    color: white;
}

